<% content_for :title, "Stakkd - New person" %>

<div class="max-w-7xl mx-auto my-28 px-6">
  <h3 class="text-4xl font-bold font-domine text-white mt-28 mb-10 text-center">Add a person</h3>
  <%= render "form", person: @person %>
</div>
