<%= link_to movie, class: "h-fit border border-pop rounded-lg overflow-hidden relative", data: {turbo: false} do %>
  <%= image_tag movie.poster, class: "w-full aspect-2/3 object-cover" %>
    <div class="absolute w-full p-2 sm:p-4 bottom-0 left-0 bg-background/75 border-t border-pop">
    <div class="flex flex-col gap-2">
      <h3 class="text-sm sm:text-lg font-bold"><%= movie.translated_title %></h3>
      <% if movie.release %>
        <span class="text-sm"><%= movie.release.date.strftime("%B %d, %Y") %></span>
      <% end %>
    </div>
  </div>
<% end %>
