<% content_for :title, "Movies" %>

<%# TODO: THIS IS TEMPORARY - IMPLEMENT FILTERS %>

<div class="max-w-7xl mx-auto my-28 px-6">
  <div class="flex gap-8 justify-between flex-col sm:flex-row w-full mt-28 mb-10">
    <h3 class="text-4xl font-bold font-domine text-white text-center">Movies</h3>
    <%= link_to "Add a movie", new_movie_path, class: "link" %>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
    <% @movies.each do |movie| %>
      <%= link_to movie do %>
        <div class="group w-full aspect-2/3 border border-pop rounded-lg overflow-hidden relative">
          <div class="absolute w-full h-full flex flex-col gap-4 p-4 justify-center items-center opacity-0 group-hover:opacity-100 bg-pop/50 backdrop-blur-sm z-10 transition duration-300 ease-in-out">
            <p class="font-domine font-bold text-2xl text-white text-center"><%= movie.translated_title %></p>
          </div>
          <%= image_tag movie.poster %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
