<div class="max-w-7xl mx-auto my-8 px-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
    <div class="col-span-1">
      <%= render "shared/cast_column", cast_members: cast_members %>
    </div>
    <div class="col-span-1">
      <% if crew_members.present? %>
        <%= render "shared/crew_column", crew_members: crew_members %>
      <% end %>
    </div>
  </div>
</div>
