<% if tab[:images].any? %>
  <div class="py-4">
    <div class="w-full flex gap-8 overflow-x-scroll">
      <% tab[:images].each do |image| %>
        <div class="h-full <%= tab[:aspect] %> border border-pop rounded-lg overflow-hidden">
          <%= image_tag image, class: "w-full" %>
        </div>
      <% end %>
      <% if tab[:show_view_more] %>
        <%= link_to "View More", tab[:view_more_path], class: "min-w-40 max-w-40 aspect-2/3 border border-pop rounded-lg overflow-hidden bg-pop/50 flex items-center justify-center mr-8" %>
      <% end %>
    </div>
  </div>
<% end %>
