<% content_for :title, "Stakkd - Edit #{@show.translated_title} - Season #{@season.number} Episode #{@episode.number}" %>

<%= render "header", show: @show, season: @season, episode: @episode %>

<div class="max-w-7xl mx-auto my-8 px-6">
  <%= render "form", season: @season, show: @show, episode: @episode %>
</div>
