<% content_for :title, "Stakkd - Edit #{@company.name}" %>

<%= render "form_header", company: @company %>

<div class="max-w-7xl mx-auto my-8 px-6">
  <div class="form" data-controller="uploads" data-uploads-record-type-value="Company" data-uploads-record-id-value="<%= @company.id %>" data-uploads-type-value="logos">
    <%= render "form_nav", company: @company %>

    <div data-uploads-target="imageTemplate" class="w-full aspect-square border border-pop rounded-lg overflow-hidden relative hidden">
      <img src="" class="newImg">
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 px-6 mt-6" data-uploads-target="images">
      <% @company.logos.each do |logo| %>
        <div class="w-full aspect-square border border-pop rounded-lg overflow-hidden relative">
          <%= image_tag logo %>
        </div>
      <% end %>
    </div>

    <form>
      <div>
        <input type="file" data-uploads-target="input" name="upload_input" class="mb-6" multiple accept="image/png,image/jpg,image/jpeg">
        <div data-uploads-target="statuses" class="flex flex-col gap-4">
          <div data-uploads-target="template" class="p-2 hidden items-center gap-4 border border-pop rounded-lg">
            <div class="flex items-center justify-center w-4 h-4">
              <i class="loading fa-solid fa-spinner animate-spin"></i>
              <i class="error-icon fa-solid fa-square-xmark text-red-400 !hidden"></i>
              <i class="success-icon fa-solid fa-square-check text-green-300 !hidden"></i>
            </div>
            <p class="fileUploadText">Uploading</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
