<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all padding="0px"></mj-all>

      <mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" padding="0 25px" font-size="13px"></mj-text>
      <mj-section background-color="#1c1a1b"></mj-section>
      <mj-class name="preheader" color="#fff" font-size="11px"></mj-class>
    </mj-attributes>
  </mj-head>
  <mj-body background-color="#232122">
    <mj-section>
      <mj-column width="100%">

        <mj-image src="" alt="header image" padding="0px"></mj-image>

      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="10px">
      <mj-column>

        <mj-text align="center" padding="40px 35px" font-size="20px" color="#f7567c"><strong>Your account will be deleted soon</strong></mj-text>

        <mj-text align="center" font-size="18px" font-family="Arial" color="#fff">Hi user, we noticed you haven’t confirmed your Stakkd account yet. To keep things running smoothly, accounts that aren’t confirmed within 30 days are removed. If you’d like to keep your account, please verify your email by clicking the button below.</mj-text>

        <mj-button background-color="#232122" color="#fff" border="1px solid #f7567c" border-radius="0.5rem" href="" font-family="Arial, sans-serif" padding="40px 0" font-weight="bold" font-size="16px">Confirm account</mj-button>

        <mj-text align="center" font-size="18px" font-family="Arial" color="#fff">If you did not sign up for an account, you can safely ignore this email. If the confirmation button above does not work, you can access it <a style="color: #fff;" href="">here</a> instead.</mj-text>

        <mj-text align="center" color="#fff" font-size="14px" font-family="Arial, sans-serif" padding-top="40px">Thanks, <br /> The Stakkd Team
          <p></p>
        </mj-text>

      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
