<% content_for :title, "Stakkd - #{@relatable} backgrounds" %>

<%= render "#{relatable_model_plural}/header", @relatable.related_records %>

<div class="max-w-7xl mx-auto my-8 px-6">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <% @backgrounds.each do |background| %>
      <div class="w-full aspect-video border border-pop rounded-lg overflow-hidden relative">
        <%= link_to background.url, target: "_blank", rel: "noopener noreferrer" do %>
          <%= image_tag background.variant(:medium), class: "w-full" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
