<% content_for :title, "Stakkd - #{@relatable} images" %>

<%= render "#{relatable_model_plural}/header", @relatable.related_records %>

<div class="max-w-7xl mx-auto my-8 px-6">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <% @images.each do |image| %>
      <div class="w-full aspect-2/3 border border-pop rounded-lg overflow-hidden relative">
        <%= link_to image.url, target: "_blank", rel: "noopener noreferrer" do %>
          <%= image_tag image.variant(:medium), class: "w-full" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
