<% content_for :title, "Stakkd - #{@relatable} posters" %>
<% model_params = {relatable_model.to_sym => @relatable} %>

<%= render "#{relatable_model_plural}/header", model_params %>

<div class="max-w-7xl mx-auto my-8 px-6">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <% @videos.each do |video| %>
      <div class="group aspect-16/9 border border-pop rounded-lg overflow-hidden relative">
        <%= link_to video.url do %>
          <%= image_tag video.thumbnail_url || "16:9.png", class: "min-w-[425px]" %>
          <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <div class="bg-gray-500/50 px-8 py-4 rounded-lg group-hover:bg-red-500">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
