@import "tailwindcss";

@theme {
    --breakpoint-xs: 378px;

    --color-pop: #f7567c;
    --color-background: #232122;
    --color-background-darker: #1c1a1b;

    --font-fugaz: Fugaz One;
    --font-domine: Domine;
}

@layer base {
    .btn {
        @apply text-white/75 hover:text-white transition duration-300 ease-in-out;
    }

    .primary-btn {
        @apply text-white font-bold bg-pop/75 hover:bg-pop transition-all duration-300 ease-in-out;
    }

    .secondary-btn {
        @apply text-white/75 hover:text-white transition-all duration-300 ease-in-out;
    }

    .link {
        @apply font-bold cursor-pointer py-2 px-4 border border-pop rounded-lg text-sm hover:bg-pop/75 transition duration-300 ease-in-out text-center;
    }

    .link-imdb {
        @apply border-[#F5C518] hover:bg-[#F5C518]/75 hover:text-black;
    }

    .link-flex {
        @apply flex gap-4 items-center;
    }

    .table {
        @apply w-full text-white;
    }

    .table thead tr {
        @apply font-bold font-domine border-b-3 border-pop;
    }

    .table thead tr th {
        @apply py-4;
    }

    .table tbody tr {
        @apply cursor-pointer hover:bg-background-darker;
    }

    .table tbody tr td {
        @apply text-center py-2;
    }

    .form {
        @apply border rounded-lg border-pop bg-background-darker;
    }

    .form > form,
    .form .inner-form {
        @apply flex flex-col gap-6 p-6;
    }

    .form > form label {
        @apply block mb-2 capitalize;
    }

    .form > form input,
    .form > form textarea,
    .form > form select {
        @apply w-full bg-background p-2 border border-pop rounded-lg focus:outline-pop focus:outline;
    }

    .form > form select {
        @apply p-[0.62rem];
    }

    .form > form input[type="submit"] {
        @apply font-bold cursor-pointer py-2 px-4 border border-pop rounded-lg text-sm hover:bg-pop/75 transition duration-300 ease-in-out w-fit;
    }

    .form .form-nav {
        @apply flex gap-4 flex-wrap p-3 border-b border-pop;
    }

    .form .form-nav a {
        @apply font-bold cursor-pointer py-2 px-4 border border-pop rounded-lg text-sm hover:bg-pop/75 transition duration-300 ease-in-out w-fit;
    }

    .form .form-nav a[data-active="true"] {
        @apply bg-pop/75;
    }

    .form .form-nav a[data-disabled="true"] {
        @apply cursor-default border-gray-300 text-gray-300 hover:bg-transparent;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    .hover-nav-dropdown {
        display: none;
    }

    @media (min-width: 768px) {
        .hover-nav-dropdown {
            display: block;
            position: absolute;
            z-index: 30;
            background-color: var(--color-background-darker);
            top: 77px;
            right: 0;
            width: 24rem;
            padding: 1rem;
            opacity: 0;
            pointer-events: none;
        }

        .group:hover .hover-nav-dropdown {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
