:root {
    /* Colors */
    --ss-primary-color: var(--color-pop);
    --ss-bg-color: var(--color-background);
    --ss-font-color: white;
    --ss-placeholder-color: #8d8c8c;
    --ss-border-color: var(--ss-primary-color);
    --ss-focus-color: var(--ss-primary-color);
    /* Heights */
    --ss-content-height: 250px;
    --ss-search-height: var(--ss-main-height);
    --ss-option-height: var(--ss-main-height);
    /* Misc */
    --ss-border-radius: 0.5rem;
}

.ss-content .ss-list .ss-option:hover:not(.ss-disabled) {
    border-left: none;
}

.ss-main.slim-no-border {
    border: none;
    height: 100%;
}
