.tabulator {
    background-color: var(--color-background-darker);
    border: none;
    border-bottom: 1px solid var(--color-pop);
}

.tabulator .tabulator-header {
    border-color: var(--color-pop);
}

.tabulator .tabulator-header .tabulator-col {
    background-color: var(--color-background-darker);
    color: white;
    border-color: var(--color-pop);
    padding: 5px 10px;
}

.tabulator-row,
.tabulator-row.tabulator-selectable.tabulator-row-even {
    background-color: var(--color-background);
    color: white;
}

.tabulator-row.tabulator-selectable.tabulator-row-even,
.tabulator-row.tabulator-selectable.tabulator-row-odd {
    border-top: 1px solid var(--color-pop);
}

.tabulator-row.tabulator-selectable:first-of-type {
    border: none;
}

.tabulator-row.tabulator-selectable:hover {
    background-color: var(--color-background-darker);
    color: white;
}

.tabulator-row .tabulator-cell {
    padding: 20px 10px;
    border-color: var(--color-pop);
}

.tabulator .tabulator-header .tabulator-col:last-of-type,
.tabulator-row .tabulator-cell:last-of-type {
    border: none;
}

.tabulator
    .tabulator-header
    .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    background-color: var(--color-background-darker);
}

.tabulator .tabulator-col-resize-handle:last-of-type {
    display: none;
}

.tabulator-cell.tabulator-editable.tabulator-editing > input:focus {
    outline: 1px solid var(--color-pop);
}

.tabulator-cell.tabulator-editable.tabulator-editing:focus {
    border: 1px solid var(--color-pop);
}

.tabulator-cell > svg {
    width: 100%;
    height: 100%;
}

.tabulator-cell > svg > path {
    fill: var(--color-pop);
}

.tabulator-row .tabulator-cell.tabulator-row-handle {
    background-color: var(--color-background-darker);
    border-color: var(--color-pop);
    border-bottom: none;
}

.tabulator-row
    .tabulator-cell.tabulator-row-handle
    .tabulator-row-handle-box
    .tabulator-row-handle-bar {
    background-color: white;
    height: 2px;
}

.tabulator-row.tabulator-group {
    background-color: var(--color-background-darker);
    border: none;
    border-top: 1px solid var(--color-pop);
}

.tabulator-row.tabulator-group:first-of-type {
    border-top: none;
}

.tabulator-row.tabulator-group:hover {
    background-color: var(--color-background-darker);
}

.tabulator-row.tabulator-group span {
    color: var(--color-pop);
}

.tabulator-row .tabulator-responsive-collapse {
    padding: 0;
    border-top: 1px solid var(--color-pop);
    border-bottom: 1px solid transparent;
}

.tabulator-row .tabulator-responsive-collapse table {
    margin: 20px 10px;
    margin-bottom: 0;
}

.tabulator-row .tabulator-responsive-collapse table tr td {
    padding-bottom: 20px;
}

.flatpickr-calendar {
    background-color: var(--color-background);
    background: var(--color-background);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid var(--color-pop);
}

.flatpickr-day {
    border-radius: var(--radius-lg);
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background-color: var(--color-pop);
    border-color: var(--color-pop);
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    background-color: var(--color-background-darker);
    border-color: var(--color-background-darker);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    color: var(--color-gray-500);
}

.flatpickr-calendar.arrowTop::before {
    display: none;
}

.flatpickr-calendar.arrowTop::after {
    display: none;
}

.flatpickr-months .flatpickr-month {
    color: white;
    font-weight: bold;
    font-family: var(--font-domine);
}

span.flatpickr-weekday {
    color: white;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--color-pop);
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    fill: white;
}
