<footer class="bg-background-darker border-t-3 border-pop mt-20">
  <div class="mx-auto w-full max-w-7xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="<%= root_path %>" class="flex items-center">
          <%= image_tag "wordmark.svg", class: "h-10 me-3", alt: "Stakkd Logo" %>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-pop uppercase">Resources</h2>
          <ul class="text-white/75 font-medium">
            <li class="mb-4">
              <a href="/" class="hover:text-white transition duration-300 ease-in-out">Guidelines</a>
            </li>
            <li>
              <a href="/" class="hover:text-white transition duration-300 ease-in-out">Site Statistics</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-pop uppercase">Community</h2>
          <ul class="text-white/75 font-medium">
            <li class="mb-4">
              <a href="https://github.com/stakkd-tv" class="hover:text-white transition duration-300 ease-in-out ">Github</a>
            </li>
            <li>
              <a href="https://discord.gg/4eeurUVvTy" class="hover:text-white transition duration-300 ease-in-out">Discord</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-pop uppercase">Misc</h2>
          <ul class="text-white/75 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:text-white transition duration-300 ease-in-out">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="hover:text-white transition duration-300 ease-in-out">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sm:flex sm:items-center sm:justify-between mt-12">
      <span class="text-sm text-white/75 sm:text-center">
        Built with <i class="fa-solid fa-heart px-2 text-red-400"></i> by the StellarWorks team and <a href="" class="underline">contributors</a>
      </span>
    </div>
  </div>
</footer>
